*.suo
*.user
db.lock
storage.ide
storage.ide-shm
storage.ide-wal
*.pdb
*/**/bin/Debug
*/**/obj/Debug
*/**/obj/Release
*/**/bin/x86/Debug
*/**/obj/x86/Debug
*/**/obj/x86/Release
*/**/bin/x64/Debug
*/**/obj/x64/Debug
*/**/obj/x64/Release